@model MyLibrary.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Book" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PadgesCount" class="control-label"></label>
                <input asp-for="PadgesCount" class="form-control" />
                <span asp-validation-for="PadgesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingYear" class="control-label"></label>
                <input asp-for="PublishingYear" class="form-control" />
                <span asp-validation-for="PublishingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input name="formFile" type="file" class="form-control" />
                @if (Model.Image != null)
                {
                    <input type="hidden" asp-for="Image" value=@(Convert.ToBase64String(Model.Image)) />
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
                }
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div id="authorsBlock">
                <div class="authorsItem">
                    <h4>Автор № 1</h4>
                    <div>
                        <label>Имя</label>
                        <div>
                            <input type="text" name="Authors[0].Name" />
                        </div>
                        <label>Фамилия</label>
                        <div>
                            <input type="text" name="Authors[0].Surname" />
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Authors" class="text-danger"></span>
            </div>
            <a class="addLink" style=' margin: 10px; color: #497DDD; border-bottom: 1px dashed;' font-size="16">Добавить автора</a>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div class='authorsItem'>" +
                    "<h4>Автор № " + (i + 1) + "</h4>" +
                    "<div><label>Имя</label><div>" +
                    "<input type='text' name='Authors[" + i + "].Name' />" +
                    "<div><label>Фамилия</label><div>" +
                    "<input type='text' name='Authors[" + i + "].Surname' />" +
                    "</div></div></div>";
                $('#authorsBlock').append(html2Add);
            })
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
